*{

}
body{
    border: 2px solid black;
    height: 800px;
}


.linkpage{
    display:flex;
    justify-content: flex-end;
    font-size: 30px;
    margin-right: 5%
}
a:link{
    color:black;
    text-decoration: none;
}
a:hover{
    color: aquamarine;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color:black;
}
table{
    background-color: rgb(23, 33, 34);
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
input[type="button"]{
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(100, 113, 116);
}
input[type="text"]{
    width: 85%;
    padding: 20px 30px;
    font-size: 24px;
    font-weight:bold;
    border:none;
    border-radius: 5px;
    border: 2px solid black;
}
input[type="button"]:hover{
    background-color: rgb(114, 129, 132);
}